body{
    padding-top:25px;
    background-color:#454545;
    margin-left:10px;
    margin-right:10px;
}
.contenedor {
    width: 60%;
    margin:30px auto;
    height: 600px;
    text-align: center;
    border-radius:6px;
    background-color:#FAFAFA;
  }
.encabezado {
    padding-top: 40px;
    font-size: 30px;
  }
.contenedor-boton {
    width: 80%;
    margin: 0 auto;
    text-align: right;
  }
h2 {
    text-align: center;
  }
textarea {
    height: 200px;
  }
.grupo {
    display: inline-block;
    width: 40%;
}
input {
    margin-bottom: 10px;
    font-size: 22px;
    padding: 30px;
    border: 1px solid #cecece;
    color:rgb(202, 38, 38);
    width: 100%;
    outline: none;
  }
textarea {
    margin-bottom: 10px;
    font-size: 22px;
    padding: 30px;
    border: 1px solid #cecece;
    color:rgb(32, 192, 72);
    width: 80%;
    outline: none;
  }
  button {
    font-size: 18px;

    background-color:rgb(187, 27, 62);
    padding: 12px 45px;
    border-radius: 5px;
    border: 1px solid rgb(187, 27, 62);
    cursor: pointer;
    width:30%;
    color:#fff;
  }
  button:hover {
    background:#616161;
    border: 1px solid #616161;
  }
  input:hover, textarea:hover {
    border: 1px solid rgb(187, 27, 62);
  }
